<footer class="bg-black fixed bottom-0 w-[100%] text-white">
    <div class="flex flex-wrap justify-center">
        <div class="flex  gap-20">
            <app-footer-item itemName="Foo">
                <li>
                    1st
                </li>
                <li>
                    2nd
                </li>
            </app-footer-item>
            <app-footer-item itemName="Bar">
                <li>
                    Blank
                </li>
                <li>
                    Blank
                </li>
            </app-footer-item>
            <app-footer-item itemName="Socials">

            </app-footer-item>
        </div>
    </div>
    <p class="text-gray-500 text-center">
        © SOME_COMPANY 2022
    </p>
</footer>