<div class="dropdown text-white">
    <button class="dropbtn hover:text-green-500 material-icons">
        home_repair_service
    </button>
    <div class="select-none dropdown-content flex  text-white">
        <div class="flex flex-row gap-5">
            <app-toolbox-item>
                <p>
                    Hello
                </p>
                <p>
                    World
                </p>
            </app-toolbox-item>
            <app-toolbox-item>
                <p>
                    Sheesh
                </p>
            </app-toolbox-item>
        </div>
    </div>
  </div>