<input class="p-3 border border-zinc-900 rounded" [placeholder]="placeholder" [type]="type" [formControl]="control" />
<ng-container *ngIf="control.dirty && control.touched">
    <p class=" text-red-400" *ngIf="control.errors?.['required']">
        This field is required.
    </p>

    <p class="text-red-400"  *ngIf="control.errors?.['minlength']">
        The value you inputted is {{
          control.errors?.['minlength'].actualLength
        }} characters long. 
        It must be {{control.errors?.['minlength'].requiredLength}} characters long.
    </p>

    <p *ngIf="control.errors?.['pattern']" class="text-red-400">
        Your password should at least have 8 characters, must contain at least 1 uppercase letter, 1 lowercase letter, and 1 number and 
        an contain special characters.
    </p>

    <p *ngIf="control.errors?.['email']" class="text-red-400">
        Your email is invalid.
    </p>

</ng-container>